@font-face {
  font-family: 'awen_icon';
  src: url('../awen_icon.eot?80263038');
  src: url('../awen_icon.eot?80263038#iefix') format('embedded-opentype'),
       url('../awen_icon.woff?80263038') format('woff'),
       url('../awen_icon.ttf?80263038') format('truetype'),
       url('../awen_icon.svg?80263038#awen_icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'awen_icon';
    src: url('../font/awen_icon.svg?80263038#awen_icon') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "awen_icon";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-spin1:before { content: '\31'; } /* '1' */
.icon-female:before { content: '\e098'; } /* '' */
.icon-mail:before { content: '\35'; } /* '5' */
.icon-mail-alt:before { content: '\36'; } /* '6' */
.icon-heart:before { content: '\37'; } /* '7' */
.icon-heart-empty:before { content: '\38'; } /* '8' */
.icon-star:before { content: '\39'; } /* '9' */
.icon-star-empty:before { content: '\30'; } /* '0' */
.icon-user:before { content: '\65'; } /* 'e' */
.icon-camera:before { content: '\79'; } /* 'y' */
.icon-th-large:before { content: '\75'; } /* 'u' */
.icon-th-list:before { content: '\69'; } /* 'i' */
.icon-ok:before { content: '\6f'; } /* 'o' */
.icon-ok-circled:before { content: '\70'; } /* 'p' */
.icon-ok-circled2:before { content: '\5b'; } /* '[' */
.icon-ok-squared:before { content: '\5d'; } /* ']' */
.icon-cancel:before { content: '\5c'; } /* '\' */
.icon-cancel-circled:before { content: '\61'; } /* 'a' */
.icon-cancel-circled2:before { content: '\73'; } /* 's' */
.icon-plus:before { content: '\64'; } /* 'd' */
.icon-plus-circled:before { content: '\66'; } /* 'f' */
.icon-plus-squared:before { content: '\67'; } /* 'g' */
.icon-plus-squared-alt:before { content: '\68'; } /* 'h' */
.icon-minus:before { content: '\6a'; } /* 'j' */
.icon-minus-circled:before { content: '\6b'; } /* 'k' */
.icon-minus-squared:before { content: '\6c'; } /* 'l' */
.icon-minus-squared-alt:before { content: '\3b'; } /* ';' */
.icon-help-circled:before { content: '\7a'; } /* 'z' */
.icon-home:before { content: '\78'; } /* 'x' */
.icon-attach:before { content: '\62'; } /* 'b' */
.icon-lock:before { content: '\6e'; } /* 'n' */
.icon-lock-open:before { content: '\6d'; } /* 'm' */
.icon-lock-open-alt:before { content: '\2c'; } /* ',' */
.icon-tag:before { content: '\2f'; } /* '/' */
.icon-tags:before { content: '\74'; } /* 't' */
.icon-bookmark:before { content: '\60'; } /* '`' */
.icon-bookmark-empty:before { content: '\7e'; } /* '~' */
.icon-thumbs-up:before { content: '\40'; } /* '@' */
.icon-thumbs-down:before { content: '\23'; } /* '#' */
.icon-thumbs-up-alt:before { content: '\24'; } /* '$' */
.icon-thumbs-down-alt:before { content: '\25'; } /* '%' */
.icon-pencil:before { content: '\29'; } /* ')' */
.icon-pencil-squared:before { content: '\5f'; } /* '_' */
.icon-chat:before { content: '\51'; } /* 'Q' */
.icon-comment-empty:before { content: '\57'; } /* 'W' */
.icon-chat-empty:before { content: '\45'; } /* 'E' */
.icon-attention:before { content: '\52'; } /* 'R' */
.icon-search:before { content: '\34'; } /* '4' */
.icon-trash:before { content: '\59'; } /* 'Y' */
.icon-doc:before { content: '\55'; } /* 'U' */
.icon-docs:before { content: '\49'; } /* 'I' */
.icon-doc-inv:before { content: '\4f'; } /* 'O' */
.icon-folder:before { content: '\7b'; } /* '{' */
.icon-folder-open:before { content: '\7d'; } /* '}' */
.icon-folder-empty:before { content: '\7c'; } /* '|' */
.icon-folder-open-empty:before { content: '\41'; } /* 'A' */
.icon-cog:before { content: '\53'; } /* 'S' */
.icon-calendar:before { content: '\47'; } /* 'G' */
.icon-clock:before { content: '\33'; } /* '3' */
.icon-block:before { content: '\4a'; } /* 'J' */
.icon-zoom-in:before { content: '\4b'; } /* 'K' */
.icon-zoom-out:before { content: '\4c'; } /* 'L' */
.icon-down-dir:before { content: '\3a'; } /* ':' */
.icon-up-dir:before { content: '\22'; } /* '&quot;' */
.icon-left-dir:before { content: '\5a'; } /* 'Z' */
.icon-right-dir:before { content: '\58'; } /* 'X' */
.icon-angle-left:before { content: '\4d'; } /* 'M' */
.icon-angle-right:before { content: '\3c'; } /* '&lt;' */
.icon-angle-up:before { content: '\3e'; } /* '&gt;' */
.icon-angle-down:before { content: '\3f'; } /* '?' */
.icon-angle-double-left:before { content: '\32'; } /* '2' */
.icon-angle-double-right:before { content: '\71'; } /* 'q' */
.icon-angle-double-up:before { content: '\77'; } /* 'w' */
.icon-angle-double-down:before { content: '\2a'; } /* '*' */
.icon-down:before { content: '\28'; } /* '(' */
.icon-left:before { content: '\5e'; } /* '^' */
.icon-right:before { content: '\26'; } /* '&amp;' */
.icon-up:before { content: '\46'; } /* 'F' */
.icon-down-big:before { content: '\4e00'; } /* '一' */
.icon-left-big:before { content: '\2b'; } /* '+' */
.icon-right-big:before { content: '\2e'; } /* '.' */
.icon-up-big:before { content: '\44'; } /* 'D' */
.icon-left-circled:before { content: '\48'; } /* 'H' */
.icon-right-circled:before { content: '\63'; } /* 'c' */
.icon-up-circled:before { content: '\76'; } /* 'v' */
.icon-down-circled:before { content: '\43'; } /* 'C' */
.icon-arrows-cw:before { content: '\4e'; } /* 'N' */
.icon-check:before { content: '\21'; } /* '!' */
.icon-sort:before { content: '\27'; } /* ''' */
.icon-smile:before { content: '\56'; } /* 'V' */
.icon-frown:before { content: '\42'; } /* 'B' */
.icon-meh:before { content: '\50'; } /* 'P' */
.icon-trash-1:before { content: '\e01b'; } /* '' */
.icon-male:before { content: '\e07b'; } /* '' */
.icon-direction:before { content: '\54'; } /* 'T' */